.gllry{
    position:relative;
    overflow:hidden;
    opacity:1;
    transition:opacity .2s ease-out;
    -webkit-transition:opacity .2s ease-out;
}

.gllry ul, .gllry li{
    list-style:none;
    width:100%;
    height:100%;
    padding:0;
    margin:0 auto;
}

.gllry li{
    position:absolute;
    z-index:0;
}

.gllry li.current{
    z-index:202;
}

.gllry li.next{
    z-index:201;
}

.gllry ul.breadcrumbs{
    width:100%;
    height:30px;
    position:absolute;
    bottom:5px;
    z-index:205;
    text-align:right;
}

.gllry ul.breadcrumbs li{
    position:relative;
    width:10px;
    height:10px;
    display: inline-block;
    border-radius:50%;
    background:#ccc;
    opacity:.5;
    margin-right:5px;
}

.gllry ul.breadcrumbs li.current{
    opacity:.9;
}

.gllry span{
    position: absolute;
    display: inline-block;
    bottom: 0%;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    height: 30px;
    background: rgba(0,0,0,.3);
    z-index: 204;
}

.gllry button.action{
    width:auto;
    height:45px;
    padding:0 20px;
    font-size:16px;
    background:rgba(0,0,0,.6);
    color:#fff;
    position: absolute;
    top:10px;
    right:10px;
    border:solid 0px #fff;
    z-index:206;
    text-transform: uppercase;
    opacity:0;
    -webkit-transition:opacity .2s ease-out;
    transition:opacity .2s ease-out;
}

.gllry button.action.show{
    opacity:1;
}

.gllry.hidden{
    opacity:0;
}